.answers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answersBtn {
    width: 30px;
    height: 30px;

    color: #fff;

    background-color: #0067d4;
}

.deleteBtn {
    margin-left: 10px;

    background-color: #cb375a;
}